body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

nav {
    background-color: #131313;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
}

.nav-items {
    display: flex;
    list-style: none;
}

    .nav-items li {
    margin-left: 15rem;
    margin-right: 3rem;
}

.nav-items a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}

h1 {
    font-size: 90px;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-h1 {
    text-align: left;
    padding: 50px;
}

.home-container {
    text-align: center;
    color: white;
    padding-top: 260px;
    padding-bottom: 60px;
}


.home-picture:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); /* Adjust values for the glowing effect */
    transition: 0.5s;
}


.home-picture {
    background-image: url('../pictures/darkrestaurant.jpg');
    text-align: center;
    filter: grayscale(100%);
    display: flex;
    height: 900px;
    width: auto;
    justify-content: center;
    background-size: cover;
    margin-left: 100px;
    margin-right: 100px;
    background-repeat: repeat;
    background-position: center;
}



.home-p {
    font-size: 35px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 60vh;
    text-align: left;
    padding: 30px 30px;
    background: black;
    margin: 20px;
}

.product-container > div {
    flex: 1;
    border: 2px solid white; /* Add a border to separate items */
    margin: 0 10px; /* Add margin for spacing between items */
    background: gray; /* Set background color between items */

}

.product-container img {
    max-width: 100%;
}

.product-header {
    background-image: url('../pictures/darkrestaurant.jpg');
    text-align: center;
    filter: grayscale(100%);
    display: flex;
    height: 350px;
    width: 95%;
    justify-content: center;
    background-size: cover;
    margin-left: 50px;
    margin-right: 50px;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 100px;
}

.contact-p {
    text-align: left;
}

.contact-map {
    text-align: right;
}

.left:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); /* Adjust values for the glowing effect */
    transition: 0.5s;
}

.middle:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); /* Adjust values for the glowing effect */
    transition: 0.5s;
}

.right:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); /* Adjust values for the glowing effect */
    transition: 0.5s;
}

h2 {
    text-align: left;
    padding-top: 10px;
    font-size: 35px;
    font-weight: bold;
}

p {
    font-size: 35px;
    text-align: left;
    padding: 0px 50px;
}

.left,
.middle,
.right {
    flex: 1;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
}

.left img,
.right img,
.middle img {
    width: 100%; /* Use 100% for responsive images */
    height: auto;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    flex: 1;
}

.contact-map {
    flex: 1;
    padding: 100px;
}

